.background {
  position: absolute;
  background: rgba(234, 233, 241, 0.7);
  background: radial-gradient(
    circle,
    rgba(234, 233, 241, 0.7) 0%,
    rgba(26, 124, 166, 0.7) 36%,
    rgba(31, 37, 38, 1) 100%
  );
  top: -80vh;
  bottom: -10vh;
  left: -10vh;
  right: -130vh;
  z-index: -1;
  transform: rotate(30deg);
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 50%;
}
